:root {
  --aqua-green: #01ffa9;
  --turquoise: #01fff5;
  --celeste: #06a6fa;
  --azul: #1658ac;
  --azul-oscuro: #1658ac;
}
.primary {
  /* margin-bottom: 1%; */
}
.primary .container {
  /* position: absolute; */
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  position: relative;

  margin: auto;
  /* float: left; */

  z-index: 1;
}

.primary .container:hover {
  transform: scale(1.02);
}
.primary .status {
  display: flex;
  width: 100%;
}
.primary .mainTemp {
  border-right: 2px white solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.primary h1 {
  position: relative;

  color: white;

  /* margin-bottom: 15px; */
}

.primary .button {
  right: 8px;
  font-size: 1.5em;
  top: -6px;
}

.primary img {
  max-width: 140px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  margin-top: -20px;
  margin-right: 5px;
  margin-bottom: -20px;
}

.primary .nowTemp {
  display: row;
  align-items: center;
  justify-content: center;
}

/* .primary .minMax {
  display: flex;
  width: 4rem;
} */

.primary .tempContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 69%;
  justify-content: center;
}
.primary .temps {
  display: flex;
  position: relative;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
a:hover {
  text-decoration: none;
}

.all {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  align-content: center;
  justify-content: space-evenly;
  width: 100%;
}

h4 {
  color: white;
}
.primary a:hover {
  text-decoration: none;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  white-space: normal;
  width: 200px;

  border-radius: 20px;
  background: linear-gradient(
    160deg,
    #01fff580 15%,
    #06a6fa80 30%,
    #1658ac80 40%,
    #1657ac80 60%,
    #01ffaa80 75%,
    #06a5fa80 90%,
    #1657ac80 100%
  );
  animation: BGgradient 25s ease-in-out infinite, fadeIn 1.25s ease;
  background-size: 300%;
  z-index: 0;
  box-shadow: 1px 0px 3px 1px #01fff580;
  transition: 0.25s;
}

h1 {
  color: white;
}

.temps {
  display: flex;
}

.minMax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 2.5rem;
}

.minMax + .minMax {
  margin-left: 1rem;
}

@media (max-width: 1000px) {
  .container {
    width: 100px;
    height: 200px;
  }
}

.container:hover {
  box-shadow: 1px 0px 3px 3px #01fff7b9;
  background: linear-gradient(
    160deg,
    #01fff7c5 15%,
    #06a6fac6 30%,
    #1658acc6 40%,
    #1657acc6 60%,
    #01ffaac6 75%,
    #06a5fac6 90%,
    #1657acc6 100%
  );
  animation: BGgradient 25s ease-in-out infinite, fadeIn 0s ease;
  background-size: 300%;
  transform: scale(1.05);
  cursor: pointer;
}
h1 {
  font-size: clamp(1rem, 1.7rem, 3rem);
}
h3 {
  font-size: clamp(1.3rem, 1vw, 2rem);
}

h4 {
  font-size: clamp(1.2rem, 1vw, 2rem);
}

p {
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(2.25rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(2.25rem);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 1px 0px 3px 1px #01fff74b;
  }

  50% {
    box-shadow: 1px 0px 4px 2px #01fff580;
  }

  100% {
    box-shadow: 1px 0px 3px 1px #01fff74b;
  }
}

@keyframes BGgradient {
  0% {
    background-position: 0% 100%;
  }

  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 300%;
  }
}

.button {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 20px;
  color: rgba(197, 197, 197, 0.658);
  z-index: 999;
}

.button:hover {
  color: white;
}
.button:active,
.button:focus {
  outline: none;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 700px) {
  .container {
    height: 250px;
    width: 200px;
  }

  .primary .container {
    width: 600px;
    height: 270px;
  }
}

@media (min-width: 1190px) {
  .container {
    height: 250px;
  }

  .primary .container {
    width: 640px;
    height: 320px;
  }
}

@media (max-height: 621px) {
  .container {
    height: 220px;
  }

  .primary .container {
    width: 450px;
    height: 250px;
  }

  h1 {
    font-size: clamp(1rem, 1rem, 1rem);
  }
  h3 {
    font-size: clamp(0.9rem, 0.9rem, 0.9rem);
  }

  h4 {
    font-size: clamp(0.95rem, 0.9rem, 0.9rem);
  }
  .primary h6 {
    font-size: clamp(0.9rem, 0.9rem, 0.9rem);
  }
}

@media (min-width: 1160px) and (max-width: 1356px) and (max-height: 621px) {
  .container {
    height: 220px;
  }

  .primary .container {
    width: 450px;
    height: 230px;
  }
}

@media (min-width: 1534px) and (max-width: 1875px) and (max-height: 621px) {
  .container {
    height: 220px;
  }

  .primary .container {
    width: 450px;
    height: 230px;
  }

  .primary {
  }
}

@media (max-width: 1000px) {
  .primary .container {
    margin-bottom: 0;
    width: 80%;
    height: 280px;
    padding: 2%;
  }
  h1 {
    font-size: clamp(1rem, 1rem, 1rem);
  }
  h3 {
    font-size: clamp(0.9rem, 0.9rem, 0.9rem);
  }

  h4 {
    font-size: clamp(0.95rem, 0.9rem, 0.9rem);
  }
  .primary h6 {
    font-size: clamp(0.9rem, 0.9rem, 0.9rem);
  }
}
