#logoHenry {
  margin-right: 20px;
}

span {
  color: white;
}

.navbar {
  position: fixed;
  width: 100%;
  margin-top: 20px;
  z-index: 9;
}

.search-bar {
  width: 100%;
}

@media (max-width: 414px) {
  .search-bar {
  }
}
